<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Latian HTML</title>
</head>
<body>
	<!-- ordered list -->
	<h2>Ordered List</h2>
	<ol>
		<li>Mandi</li>
		<li>Ganti Baju</li>
		<li>Berangkat Kuliah</li>
		<li>Duduk</li>
		<li>Pulang</li>
	</ol>

	<!-- unordered list -->
	<h2>Unordered List</h2>
	<ul>
		<li>Mandi</li>
		<li>Ganti Baju</li>
		<li>Berangkat Kuliah</li>
		<li>Duduk</li>
		<li>Pulang</li>
	</ul>
	<h2>Definition List</h2>
	<dl>
		<dt>Programmer</dt>
		<dd>programmer adalah kuli tak kasat mata.</dd>
	</dl>

	<!-- list bersarang -->
	<h2>Yang Harus Dilakukan</h2>
	<ol>
		<li>Pergi Ke Pasar</li>
			<ul>
				<li>Beli Jajan</li>
				<li>Beli Buku</li>
					<ol>
						<li>Pemrograman Python</li>
						<li>Pemrograman Java</li>
					</ol>
			</ul>
		<li>Kuliah</li>
			<ul>
				<li>Sistem Basis Data</li>
				<li>Pemrograman Terstruktur</li>
			</ul>
	</ol>
	<a href="../index.html">Kembali</a>
</body>
</html>
