<!DOCTYPE html>
<html>
<head>
	<title>Latian HTML</title>
</head>
<body>
	<div>
		<label for="nama">Nama Lengkap</label>
		<input type="text" name="nama">
		<br>
		<label for="alamat">Alamat Lengkap</label>
		<input type="text" name="alamat">
		<br>
		<label for="jenis_kelamin">Jenis Kelamin</label>
		<select name="jenis_kelamin">
			<option>Laki-laki</option>
			<option>Perempuan</option>
		</select>
		<br>
		<input type="submit" value="SIMPAN">
	</div>

	<a href="../index.html">Kembali</a>
</body>
</html>