<!DOCTYPE html>
<html>
<head>
	<title>Latian HTML</title>
	<style>
		.box{
			background-color:green;
			color:yellow;
			width:100px;
			height:100px;
			/*margin-bottom: 50px;
			margin-top: 20px;
			margin-right: 30px;
			margin-left: 30px;
			padding-left: 20px;*/

			/*semua sisi 20px;
			margin: 20px;*/

			/*margin atas dan bawah 20 dan margin kanan dan kiri 30
			margin: 20px 30px;*/

			/*margin atas 20,margin bawah 40 dan margin kanan dan kiri 30*/
			margin: 20px 30px 40px;
			padding-left: 20px;
		}
	</style>
</head>
<body>
	<div class="box">
		box ke satu
	</div>

	<div class="box">
		box ke dua
	</div>
</body>
</html>