<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Latian Pertama</title>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<img src="/img/Untitled.png" alt="logo" width="270" height="100">

			<ul id="menu-utama">
				<li><a href="">Home</a></li>
				<li><a href="">Tutorial</a></li>
				<li><a href="">Video</a></li>
			</ul>
			<form>
				<input type="text" name="search">
			</form>
		</div><!-- penutup header -->
		<div id="daftar-artikel">
			<div class="artikel">
				<img src="/img/github.png" alt="logo" width="150" height="150">
				<h2>Github</h2>
				<b>Social Coding</b>
				<p>Github is website for manage development</p>
			</div>
			<div class="artikel">
				<img src="/img/github.png" alt="logo" width="150" height="150">
				<h2>Github</h2>
				<b>Social Coding</b>
				<p>Github is website for manage development</p>
			</div>
			<div class="artikel">
				<img src="/img/github.png" alt="logo" width="150" height="150">
				<h2>Github</h2>
				<b>Social Coding</b>
				<p>Github is website for manage development</p>
			</div>
		</div><!-- penutup daftar-artikel -->
		<div id="sidebar">
			<h2>Kategori</h2>
			<ul>
				<li><a href="">Python</a></li>
				<li><a href="">Java</a></li>
				<li><a href="">Javascript</a></li>
				<li><a href="">C++</a></li>
				<li><a href="">PHP</a></li>
				<li><a href="">Ruby</a></li>
			</ul>
		</div><!-- penutup sidebar -->
		<div id="footer">
			<p>Latian nganggo HTML by @restureese</p>
		</div><!-- penutup footer -->
	</div><!-- penutup wrapper -->
</body>
</html>